/*

    selector {
        property: value;
        property: value;
        property: vulue;
        etc.
    }

    selector options: 

tagname,such as p or img 
.classname, such sad .green or .highlighted
tag.class, such as h1.green or p.highlighted

tagname>tagname
.classname>tagname
tagname>.classname
*/



.nav {
    list-style: none;

    border-style: solid;

    padding-left: 0%;

    width: 50%;

    margin: auto;

    text-align: center;
}

.nav>li{
    border-style: ridge;
    border-radius: 10px;

    display: inline-block;

    background-color: rgb(255, 255, 255);
}

img{
    display: block;

    width: 10%;

    margin: left;
}